@model TablicaOgloszen.Models.Post

<h1>Usuń ogłoszenie</h1>

@if (Model != null)
{
    <div>
        <span>
            <a class="btn btn-primary" asp-action="Details" asp-controller="Post" asp-route-id="@Model.Id">Powrót</a>
        </span>
    </div>
}

<form class="form-control" method="post" asp-action="Delete">
    <div class="form-group mb-3">
        <div asp-validation-summary="All"></div>
    </div>
    <div class="form-group mb-3">
        <label class="form-label" asp-for="Title"></label>
        <input class="form-control" asp-for="Title" disabled />
        <span class="form-text" asp-validation-for="Title"></span>
    </div>
    <div class="form-group mb-3">
        <label class="form-label" asp-for="Text"></label>
        <input class="form-control" asp-for="Text" disabled />
        <span class="form-text" asp-validation-for="Text"></span>
    </div>
    <div class="form-group mb-3">
        <input class="btn btn-primary" type="submit" value="Usuń" />
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}