@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column justify-content-center" style="min-height:50vh">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="fw-light text-white m-0">Witamy na Tablicy Ogłoszeń</h1>
        <h5 class="fw-light text-white m-0">— Od ludzi dla ludzi —</h5>
    </div>
</div>
