@model List<TablicaOgloszen.Models.Notification>

@if (Model != null)
{
    foreach (var notification in Model)
    {
        <div class="card text-center m-4">
            <div class="card-body">
                <p class="card-text">@Html.Raw(notification.Text)</p>
                <hr />
                <a asp-action="Delete" asp-route-id="@notification.Id" class="btn btn-danger"> Usuń </a>
            </div>
            <div class="card-footer text-muted">
                @TablicaOgloszen.Services.DateConventerService.DateConvert(notification.Date)
            </div>
        </div>
    }
}
