@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="card text-center m-4">
    <div class="card-body">
        <p class="card-text">Html.Raw(not.Text)</p>
        <a asp-action="Delete" asp-route-id="not.Id" class="btn btn-danger"> Usuń </a>
    </div>
    <div class="card-footer text-muted">
        not.Date
    </div>
</div>
